.experience-col {
    flex: 0 0 15%;
}

.experience-title {
    margin-top: 30px;
    margin-right: 5px;
}

.experience-block {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(224, 239, 246, 0.673);
    padding-right: 5px;
}

.experience-button {
    font-size: 20px;
    color: rgb(6, 95, 139);
}

.experience-title {
    color: rgb(119, 150, 167);
}

.left-component {
    align-self: flex-start;
    text-align: left;
}

.right-component {
    align-self: flex-start;
}