.experience-col {
    flex: 0 0 15%;
}

.experience-title {
    margin-top: 30px;
}

.experience-block {
    margin-top: 15px;
}

.experience-button{
    font-size: 20px;
     color: rgb(6, 95, 139)
}